* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}


thead th {
    padding: 10px 90px;
    border: 2px solid #000000;
}

tbody td {
    padding: 10px;
    border: 2px solid #000000;
    font-weight: 550;
}

tbody th {
    padding: 10px 10px;
    border: 2px solid #000000;
}


.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.tr-days {
    background-color: #f0f0f0;
}

.horas {
    padding: 10px;
}

.cliente {
    background-color: #0FA3B1;
}

.empresa {
    background-color: #EDDEA4;
}

.servidor {
    background-color: #B5E2FA;
}
