* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}


thead th {
    padding: 10px 90px;
    border: 2px solid #000000;
}

tbody td {
    padding: 10px;
    border: 2px solid #000000;
    font-weight: 550;
}

tbody th {
    padding: 10px 10px;
    border: 2px solid #000000;
}


.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.tr-days {
    background-color: #c0c0c0;
}

.horas {
    padding: 10px;
}

.client {
    background-color: #0081A7;
}

.empresa {
    background-color: #EDDEA4;
}

.servidor {
    background-color: #F07167;
}

.disseny {
    background-color: #00AFB9;
}

.desplegament {
    background-color: #FED9B7;
}


a {
    color: black;
    font-size:xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 10px;

}